.footer {
  background: $footer-bg;
  .heading {
    color: $footer-heading-color;
    font-size: $footer-heading-font-size;
  }

  .list-unstyled li a {
    display: inline-block;
    padding: 0.125rem 0;
    color: $footer-link-color;
    font-size: $footer-link-font-size;
    &:hover {
      color: $footer-link-hover-color;
    }
  }

  .copyright {
    font-size: $font-size-sm;
    color: $footer-copyright-color;
  }
  .btn {
    height: 35px;
    width: 120px;
    background-color: $footer-bg;
    border: solid 1px $white;
    color: $white;
    border-radius: 0;
  }
  .dropdown-toggle::after {
    left: 15px;
    position: inherit;
  }
}
