.section {
  position: relative;
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
}

// Home sections
.section-home {
  @include media-breakpoint-up(md) {
    height: 100vh;
    max-height: 500px;
  }
}

.section-shaped {
  margin: 180px 0;
  position: relative;

  .home {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    + .container {
      position: relative;
      padding-top: 6rem;
      padding-bottom: 0rem;
      height: 100%;
    }
  }
}
